{% load static %}

<!doctype html>
<html lang="pl">
  
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">

    <title>prostalista.pl</title>
  </head>

  <body styles="height: 100%">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="jumbotron">
                <h1 class="display-4">Prosta Lista</h1>
                <p class="lead">Stwórz prostą i przejrzystą listę prezentów, którą szybko i łatwo udostępnisz swoim znajomym.</p>
                <hr class="my-4">
                <a href="{% url 'register' %}" class="btn btn-outline-success">Zarejestruj się</a>
                <a href="{% url 'login'%}" class="btn btn-success">Zaloguj</a>
            </div>
        </div>
    </div>

  </body>
</html>
