<!doctype html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Wishlist {% block title %}{% endblock %}</title>
  </head>

  <body>
  
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Wishlists</a>
    </nav>
  
    <div class="container">
      <div class="row">
        <div class="col-md-6"> 
          {% block content %}{% endblock %} 
        </div>      
      </div>
    </div>
    
  </body>
</html>